{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="text-center">Create new User</h1>

        {{ include('crud/_form.html.twig') }}

        <a class="text-center" href="{{ path('app_crud_index') }}">back to list</a>

    </div>
{% endblock %}
